<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projdiab2014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.projdiab2014.Actividade_Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_HistoricoValor" >
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_InformacaoPessoal" >
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_EquipaDeApoio" >
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_Refeicao" >
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_Grafico" >
        </activity>
        <activity android:name="com.example.projdiab2014.Actividade_Opcoes"></activity>
        <activity android:name="com.example.projdiab2014.Actividade_OpcoesRefeicao"></activity>
        <activity android:name="com.example.projdiab2014.Actividade_OpcoesCategoria"></activity>
        <activity android:name="com.example.projdiab2014.Actividade_OpcoesAlimento"></activity>
        <activity android:name="com.example.projdiab2014.Actividade_HistoricoRefeicao"></activity>
        <activity android:name="com.example.projdiab2014.Actividade_MenuHistorico"></activity>
        
        
</application>

</manifest>
